/* Prevent the prompt from going too wide */
.shiny-gpt-chat {
  display: flex;
  flex-direction: column;
  width: min(680px, 100%); /* TODO: make this configurable */
  margin: 0 auto;
  overflow: auto;
}

/* Prevent the assistant responses from "flickering" when recalculating */
/* TODO: shiny should probably have a CSS variable for this */
.shiny-gpt-chat .recalculating > * {
  opacity: 1 !important;
}

.shiny-gpt-chat .message-container {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}

.shiny-gpt-chat .message-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shiny-gpt-chat .message-content p:last-child {
  margin-bottom: 0;
}

.shiny-gpt-chat .message-content pre code {
  /* Fix alignment of first line in a code block */
  padding: 0;
}

/* Make badges more circular */
.shiny-gpt-chat .badge {
  --bs-badge-padding-y: 0.65em;
}

.shiny-gpt-chat .query-container {
  position: sticky;
  bottom: 0;
  margin-top: auto;
  padding: 0.25rem;
  background-color: var(--bs-body-bg, white);
}
